#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.produtos-container{
display:flex;
gap:15px;
}
.produto-item{
width: 300px;
border: 1px solid #f0f0f0;
padding: 15px 20px;
box-sizing: border-box;
box-shadow: 0px 0px 12px 2px rgb(204, 178, 178);
}

.produto-item>.container-imagem>img{
width: 100%;
}
.container-imagem{
  width: 100%;
  overflow: hidden;
  }